*{
	padding:5px;
	margin: 5px;
}
body{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no repeat;
}
.calculator{
	width: 75px;
	height: 60px;
	font-size: 20px;
}